body{
    background-color: thistle;
    
}
.header-div{
    display: flex;
    justify-content: space-between;
    
}
.leftpartheader{
    width: 50%;
    display: flex;
}
.maintitle{
    font-weight: bolder;
    list-style: none;
}
.navigation{
    
}
.homebuttonb{
    display: flex;
    list-style: none;
}
.nav-link{
    font-weight: bolder;
    margin-left: 5%;
}
.nav-link2{
    margin-left: 5%;

}
.hco{
    width: 50%;
}
.title{
    width: 50%;
}
.rightpartheader{
    width: 50%;
    display: flex;
    justify-content: end;
}
.shopicon{
    width: 30%;
    height: 30%;
}
.customericon{
    width: 30%;
    height: 30%;
    margin-left: 10%;
}
.marginrightpartheader{
    display: flex;
    
}
