body{
    background-color: wheat;
}
@font-face {
    font-family: 'title-font';
    src: url(../fonts/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Bold.ttf);
}
.header-div{
    display: flex;
    justify-content: space-between;
    
}
.leftpartheader{
    width: 50%;
    display: flex;
}
.maintitle{
    font-weight: bolder;
    list-style: none;
    font-family: 'title-font';
}
.homebuttonb{
    display: flex;
    list-style: none;
}
.nav-link{
    font-weight: bolder;
    margin-left: 5%;
}
.nav-link2{
    margin-left: 5%;
    opacity: 0.65;

}
.hco{
    width: 50%;
}
.title{
    width: 50%;
}
.rightpartheader{
    width: 50%;
    display: flex;
    justify-content: end;
}
.shopicon{
    width: 30%;
    height: 22%;
}
.customericon{
    width: 30%;
    height: 22%;
    margin-left: 10%;
}
.marginrightpartheader{
    display: flex;    
}
.ptext{
    margin-top: 40px;
    font-family: 'title-font';
    opacity: 0.7;
}
.section1{
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
}
.marcxenanawili{
    width: 50%;
    margin-left: 3%;
}
.marjvenanawili{
    width: 50%;
}
.photo1{
    width: 70%;
    height: 70%;
}
.btn{
    border-radius: 5px;
    background-color: pink;
    font-weight: bolder;
    font-size: larger;
    padding: 3%;
    width: 30%;
}
.section2{
    margin-left: 3%;
    width: 100%;
    justify-content: center;
}
.iconrow{
    display: flex;
    width: 100%;
}
.column5{
    margin-left: 5%;
    margin-top: 50px;
    width: 20%;
}
.icontexts{
    font-weight: bolder;
}
.section2-1{
    width: 40%;
}
.iconimgs{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.section3 {
    margin-left: 30%;
}