body{
    background-color: thistle;
    margin: ;
}
.header-div{
    display: flex;
}
.leftpartheader{
    width: 50%;
    display: flex;
}
.maintitle{
    font-weight: bolder;
    list-style: none;
}
.navigation{
    
}
.homebuttonb{
    font-weight: bolder;
}
